<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
</head>
<body>
    <h1>Hello, {{ data.first_name }}</h1>
    <p>You are {{ data.last_name }} years old.</p>

    <form action="/create-patient" method="post">
        <label for="reg_no">Reg_num:</label><br>
        <input type="text" id="reg_no" name="reg_no"><br>
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="text" id="dob" name="dob"><br>
        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender"><br>
        <label for="contact_number">Contact Number:</label><br>
        <input type="number" id="contact_number" name="contact_number"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
